<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="root">
    <form @submit.prevent="addTodo">
      <span>Todo title</span>
      <input v-model="title">
      <button @click="addTodo" :disabled="title.length === 0">Add</button>
    </form>
    <ul style>
      <li v-for="todo in todos" :key="todo.id">
        <span>{{ todo.title }}</span>
        <button @click="delateTodo(todo.id)">Delate</button>
        <button @click="openEditTodoModal(todo.id)">Edit</button>
      </li>
    </ul>
    <dialog ref="editTodoModal">
      <span>Edit todo title: </span>
      <input v-model="newTitle">
      <button @click="editTodo">Update</button>
    </dialog>
  </div>
  <script>
    let todoApp = new Vue({
      el: '#root',
      data() {
          return {
            todos: [],
            title: '',
            newTitle: '',
            editedTodoId: null,
            url: 'http://localhost:3000/todos/'
          }
      },
      methods: {
        async fetchTodos() {
          const response = await fetch(this.url);
          return await response.json();
        },
        async addTodo() {
          try {
            const newTodo = { id: `lw-${Date.now()}`, title: this.title, done: false }
            this.fetchService('POST', newTodo);
            this.title = '';
          } catch (error) {
            console.log(error)
          }
        },
        delateTodo(id) {
          this.fetchService('DELETE', {}, id);
          this.fetchTodos();
        },
        editTodo() {
          const updatedTodo = { id: this.editedTodoId, title: this.newTitle }

          if (this.editedTodoId) {
            this.fetchService('PUT', updatedTodo, this.editedTodoId);
            this.newTitle = '';
            this.fetchTodos();
            this.closeEditTodoModal();
          }
        },
        async fetchService(method, data, query='') {
          await fetch(this.url+query, {
            method: method,
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
          })
        },
        openEditTodoModal(id) {
          this.editedTodoId = id;
          this.$refs.editTodoModal.showModal();
        },
        closeEditTodoModal() {
          this.$refs.editTodoModal.close();
        }
      },
      async mounted() {
        this.todos = await this.fetchTodos();
      }
    })
  </script>
</body>
</html>